*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
#title,#background{
  background:#020202;
  color: #e2e2e2;
  text-align: center;
}
#background:hover{
  cursor: pointer;
}
#btn-login,#btn-logout:hover{
  cursor:pointer;
}
#btn-login:disabled,#btn-logout:disabled{
  cursor:not-allowed;
}
#backgroundinfo p:nth-of-type(even){
  background-color: beige;
}
.hidden{
  display:none;
}

input{
  padding:3px;
  font-size: 40px;
  text-align: center;
}

#games{
  border:1px solid #e2e2e2;
  display:grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 400px;
}
.tile{
  border:1px solid #e2e2e2;
  width:50px;
  height:50px;
}
.tile.active{
  border:1px solid red;
}
.row{
  display:grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
}
.wrong_letter{
  background: gray;
  color: black;
}
.correct_letter_wrong_position{
  background: yellow;
  color: black;
}
.correct_letter_correct_position{
  background: green;
  color: white;
}

.key-container {
  height: 200px;
}
.key-board{
  margin: 0 8px;
  -webkit-user-select: none;
  user-select: none;
}
.key-row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px auto;
  touch-action: manipulation;
}
.key-row button{
  background: #ccc;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 4px;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}