html,*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
#title,#background{
  width:100%;
  background:#020202;
  color: #e2e2e2;
  text-align: center;
  font-size: large;
  margin: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
input,button{
  padding-left: 5px;
  padding-right: 5px;
}
#background:hover{
  cursor: pointer;
}
#btn-login,#btn-logout:hover{
  cursor:pointer;
}
#btn-login:disabled,#btn-logout:disabled{
  cursor:not-allowed;
  color:#e2e2e2;
}
#backgroundinfo{
  padding:7px;
}
#backgroundinfo p:nth-of-type(even){
  background-color: beige;
}
ol {
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.hidden{
  display:none;
}

#onlyinputs{
  padding:3px;
  font-size: 40px;
  text-align: center;
  caret-color:transparent;
  font-weight: bold;
}
#activegames{
  grid-area: activegames;
}
#currentgameandkeyboard{
  grid-area: currentgameandkeyboard;
}
#players{
  grid-area: players;
}
#pendinginvitations{
  grid-area: pendinginvitations;
}
#invitationmessageandword{
  grid-area: invitationmessageandword;
}
#invitationmessageandword>*{
  margin-top: 5px;
}
#acceptchallengeword{
  grid-area: acceptchallengeword;
}
#acceptchallengeword>*{
  margin-top: 5px;
}
#completedgames{
  grid-area: completedgames;
}
#games{
  border:1px solid #e2e2e2;
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 400px;
  grid-template-areas: 
  "activegames currentgameandkeyboard players"
  "invitationsreceived currentgameandkeyboard invitationmessageandword"
  "acceptchallengeword completedgames pendinginvitations";
}
#games > div{
  margin:10px;
}
.tile{
  border:1px solid #e2e2e2;
  width:50px;
  height:50px;
  color:#e2e2e2;
  transition:none;
}
.tile.active{
  border:3px solid #f2f2f2;
}
/* .row{
  display:grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
} */
.wrong_letter{
  background: gray;
  color: black;
}
.correct_letter_wrong_position{
  background: yellow;
  color: black;
}
.correct_letter_correct_position{
  background: green;
  color: white;
}

.key-container {
  margin-top: 20px;
  height: 200px;
}
.key-board{
  margin: 0px 0px;
  -webkit-user-select: none;
  user-select: none;
}
.key-row{
  display: flex;
  width: 100%;
  margin: 0 auto 8px auto;
  touch-action: manipulation;
}
.key-row button{
  background: #ccc;
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 4px;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

#currentgame{
  background-color: #050505;
}
#onlyinputs{
  /* text-align: center; */
  /* font-weight: bold; */
  row-gap:10px;
  margin: auto;
  visibility: hidden;
  max-width: 290px;
}
.row{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  gap: 11px;
  justify-content: center;
}
#activegameslist>div{
  cursor:pointer;
}
.t0{
  background:#2e2e2e;
  color:#e2e2e2;
}
.t1{
  background:yellow;
  color:#020202;
}
.t2{
  background:green;
  color:#020202;
}
#playersandinvitation{
  display:grid;  
}
#playerslist,#activegameslist{
  height: 335px;
  overflow-y:scroll;
  overflow-x:hidden;
}
#pendinginvitationslist,#invitationslist{
  height: 210px;
  overflow-y:scroll;
  overflow-x:hidden;
}
#playerslist div{
  cursor:pointer;
}
#invitationslist div{
  cursor:pointer;
}
#challengeword,#challengeword2{
  width:60px;
  font-weight: bold;
  text-transform: uppercase;
}
.invalid{
  color:red
}
.selectedopponent,.selectedinvitation,.selectedgame{
  border:1px solid blue;
  border-radius: 2px;
  animation: flip 0.5s linear;
}
#pendinginvitations > *,#invitationsreceived > *,#activegames > *,
#players > *,#completedgames > *{
  margin:2px;
  padding:2px;
}
#results{
  position:absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:2px solid green;
  background-color:#020202;
  color: #e2e2e2;
  z-index: 100;
  padding: 10px;
  display:none;
}
#activegames,#invitationsreceived,#acceptchallengeword,#players
,#pendinginvitations,#invitationmessageandword, #completedgames{
  padding:5px;
  border:2px solid beige;
  border-radius: 5px;
}
@media screen and (max-width:700px){
  #games{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:minmax(200px,auto);
    grid-template-areas:
    "activegames"
    "currentgameandkeyboard"
    "currentgameandkeyboard"
    "invitationsreceived"
    "acceptchallengeword"
    "players"
    "invitationmessageandword"
    "pendinginvitations"
    "completedgames"
  }
  #games > div{
    margin:5px;
  }
  /* #activegames{
    grid-area:activegames;
  }
  #currentgameandkeyboard{
    grid-area:currentgameandkeyboard;
  }
  #invitationsreceived{
    grid-area: invitationsreceived;
  } */
  
  .key-board{
    margin:0px 0px;
  }
  .key-container{
    font-size: 0.5em;
  }
  .row{
    gap:2px;
  }
  .tile{
    width:45px;
    height:45px;
    font-size: 0.7em;
  }
  .key-row button{
    padding: 2px;
    margin: 0 2px 0 0;
    height: 38px;
  }
  /* #challengeword2{
    width:30px;
    font-size: 0.7em;
    padding:0px;
  }
  #btn-accept{
    width:60px;
    font-size: 0.7em;
    margin-left: 2px;
  } */
  #currentgame h2{
    font-size: smaller;
  }
  .key-container{
    margin-top:20px;
  }
  #activegameslist,#invitationslist{
    max-height: 160px;
  }
}
#completedgames{
  margin:10px;
}
.disabled{
  pointer-events:none;
  cursor: not-allowed;
  opacity:0.35;
}
/* #acceptancemessage,#challengeword2{
  padding-left:5px;
} */

.tile.flip{
  animation: flip 0.5s ease-in-out;
}

@keyframes flip{
  0%{
   transform: rotateX(0deg);
 }
  70%{
    transform: rotateX(180deg);
 }
  100%{
    transform: rotateX(0deg);  
 }
}

@keyframes pulse{
  0%{
    transform:scale(0.9);
  }
  70%{
    transform:scale(1.2)
  }
  100%{
    transform:scale(0.9)
  }
}
/* Completed game classes */
.won{
  background-color: greenyellow;
}
.lost{
  background-color: rosybrown;
}
.drew{

}
/* section headings */
.sectionheading{
  background-color: beige;
  border-radius: 5px;
  text-align: center;
}
#completedgameslist>*{
  border:1px solid #e2e2e2;
  border-radius: 3px;
  margin-top: 1px;
}